#footer
  = I18n.t("_footer.run_by")
  = link_to("Patrick Crowley", "http://mokolabs.com/") + ","
  = I18n.t("_footer.help_from")
  = link_to("Rob Kaufman", "http://notch8.com/") + "."
  = I18n.t("_footer.designed_by")
  = link_to("Luke Mysse", "http://www.lukemysse.com/") + "."
